@charset "utf-8";

body, table, form, input, td, th, p, textarea, select {
  font-family: Arial, Helvetica, sans-serif;
}

table tr:nth-child(even) {
    background-color:#ddffd1;
  
}

table.pane {
    width: 100%;
    border-collapse: collapse;
    border: 1px #bbb solid;
}

div #header {
    background: -moz-linear-gradient(left, #5bad3f 0%, #4a9b32 19%, #4a9b32 77%, #5bad3f 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5bad3f), color-stop(19%,#4a9b32), color-stop(77%,#4a9b32), color-stop(100%,#5bad3f));
    background: -webkit-linear-gradient(left, #5bad3f 0%,#4a9b32 19%,#4a9b32 77%,#5bad3f 100%);
    background: -o-linear-gradient(left, #5bad3f 0%,#4a9b32 19%,#4a9b32 77%,#5bad3f 100%);
    background: -ms-linear-gradient(left, #5bad3f 0%,#4a9b32 19%,#4a9b32 77%,#5bad3f 100%);
    background: linear-gradient(to right, #5bad3f 0%,#4a9b32 19%,#4a9b32 77%,#5bad3f 100%);
}

 #breadcrumbs {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
    background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
    background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
    background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
    background-image: -o-linear-gradient(top, #585858, #3d3d3d);
    background-image: linear-gradient(top, #585858, #3d3d3d);
  color:#fff; 
}


footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
    background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
    background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
    background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
    background-image: -o-linear-gradient(top, #585858, #3d3d3d);
    background-image: linear-gradient(top, #585858, #3d3d3d);
  color:#fff;
    
}


a:link{
    color:#0066FF;
}

a:hover,
a:visited{
    color:#444;
}




footer a:link,
footer a:visited,
footer a:hover{
    color:#fff;
}

#breadcrumbs a,
#breadcrumbs a:link{
    color:#fff !important;
}

#breadcrumbs LI {
    color:#fff !important;
    float:left;
    line-height: 2em;
    height: 2em;
}

#breadcrumbs LI A:link, 
#breadcrumbs LI A:visited {
    color:#fff !important;
}
    

